{% extends "2021/templates/solution.html.jinja" %}

{% block number %}2{% endblock %}
{% block name %}Farby{% endblock %}

{% block solution %}
  <p>Pomenujeme, čo predstavujú kombinácie týchto farieb. Čísla nám udávajú, ktoré písmeno z akého celkového počtu máme zobrať do riešenia. Riadky nám dajú postupne:</p>
  <ol>
    <li>(T)ATRATEA, fľaše po poradí podľa obsahu alkoholu,</li>
    <li>(E)URO, bankovky podľa hodnôt,</li>
    <li>KOFO(L)A, fľaše pre rôzne príchute (originál, višňová, citrusová a bez cukru),</li>
    <li>GOOGL(E), farby v logu,</li>
    <li>(F)IXKY, typické farby v balení napríklad whiteboard fixiek,</li>
    <li>D(O)CS, Google Docs, Sheets, Slides, Forms,</li>
    <li>SLOVE(N)ČINA, učebnice Mladé Letá pre 5. až 9. ročník.</li>
  </ol>
  <p>Heslo je teda TELEFǑN.</p>
{% endblock %}
