{% extends "2019/templates/puzzle.html.jinja" %}

{% block number %}2{% endblock %}
{% block name %}Vláčiková{% endblock %}

{% block puzzle %}
  <p>Včera sme vyrazili na našu už tradičnú zimnú dovolenku do Tatier. Išli sme tam so starými rodičmi a samozrejme vlakom. Kým sme čakali na nástupišti na vlak, Kubo so záujmom sledoval ostatné vlaky. Nakoniec nám vlak ale prišiel a dokonca ani veľmi nemeškal, takže sme nastúpili a usadili sa v kupé.</p>
  <p>Jazda prebiehala veľmi príjemne, pričom sme si kreslili, pozerali von oknom, a hrali spoločenské alebo slovné hry. Raz sme chvíľu počuli nejaký zvláštny lomoz zo susedného kupé, ale nevadilo nám to. Robili sme si srandu, že nám zhorí vlak, ale nič také sa našťastie nestalo.</p>
  <p>Okolo druhej sme dorazili do Popradu. Tam sme sa naobedovali a potom nás tatranská električka odviezla na zastávku Pekná vyhliadka, kde bolo aj naše úžasné ubytovacie zariadenie, vila Pokrok. Takých zaujímavých funkcionalistických budov veľa už nie je a bohužiaľ aj táto sa dosť rozpadáva, no my to tu máme aj tak radi.</p>
  <p>Chvíľu po tom, ako sme sa ubytovali, sme sa boli ešte prejsť do Smokovca, kde sme zároveň aj nakúpili. Danko mal samozrejme problém s plastovými obalmi, preto naňho bola starká trochu nahnevaná. Áno, je pravda, že plastové obaly nie sú dobré, no ale inak tie jogurty nepredávajú, tak čo sa dá robiť?</p>
  <p>Večer sme sa ešte zahrali žolíka, a bola to teda výborná hra. Starému otcovi sa celú hru vôbec nedarilo, a vyložil sa z nás ako posledný, kým starká to na celej čiare vyhrávala, ale tesne predtým, ako išla zavrieť, urobil Danko taký krok, ktorým zmenil celú situáciu. Nakoniec to ešte aj vyhral. Už sa teším, kam pôjdeme a čo budeme robiť zajtra.</p>
{% endblock %}

{% block key %}366951884{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Obsah textu je nejaký príbeh, ktorý nám k samotnej šifre zrejme nič nepovie. Pôjde tu teda tiež o nejakú vonkajšiu vlastnosť textu. Okrem toho, že text je o vlakoch, hovorí vám niečo názov? Skúste nájsť niečo zaujímavé v texte, s čím by sa to dalo spojiť a vytvoriť tak pravidlo, ktoré treba na vylúštenie využiť. A ak sa vám to nepodarí, skúste si v texte všimnúť nejaké podozrivé slová alebo vety, ktoré by tam pravdepodobne neboli, keby nemusela byť dodržaná táto vlastnosť. Niekde pri týchto slovách sa vlastnosť uplatňuje, takže tam ju najľahšie uvidíte.</p>
{% endblock %}
