{% extends "2020/templates/puzzle.html.jinja" %}

{% block number %}2{% endblock %}
{% block name %}Poznáš Slovensko?{% endblock %}

{% block puzzle %}
  <figure>
    <img src="index.svg" width="750" height="450">
  </figure>
{% endblock %}

{% block key %}452066649{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  Obyčajná krížovka s tajničkou, a indície máte rovno v nej a v názve.
{% endblock %}
