{% extends "templates/base.html.jinja" %}

{% block title %}O stránke | Šifrovačka Julegåden{% endblock %}
{% block heading %}O stránke{% endblock %}

{% block content %}
  <p>Stránka je hostovaná na <a href="https://github.com/mstepanek0301/julegaden">Githube</a>, kde si môžete pozrieť aj jej zdrojový kód. Na stránke sú použité ikonky <a href="https://www.flaticon.com/uicons">Uicons</a> a v šifrách niekedy bývajú tiež obrázky zo stránky <a href="https://www.flaticon.com/">Flaticon</a>.</p>
{% endblock %}
