{% extends "templates/base.html.jinja" %}

{% block title %}Šifrovačka Julegåden{% endblock %}
{% block heading %}Šifrovačka{% endblock %}

{% block content %}
  <h2>Novinky</h2>
  <p>22.1.2022 &ndash; Na tento rok sa už šifrovačka skončila, takže šifry sú v archíve. Okrem toho si k nim môžete prečítať aj riešenia.</p>
  <p>1.1.2022 &ndash; K šifrám sú už aj nápovedy.</p>
  <p>24.12.2021 &ndash; Máme tu novú sadu šifier na Vianoce 2021!</p>

  <h2>Prečítajte si</h2>
  <ul>
    <li><a href="precitajte-si/co-to-je">Čo to je</a></li>
    <li><a href="precitajte-si/ako-riesit">Ako riešiť</a></li>
    <li><a href="precitajte-si/o-stranke">O stránke</a></li>
  </ul>

  <h2>Archív</h2>
  <p><a href="2021">2021</a>, <a href="2020">2020</a>, <a href="2019">2019</a></p>
{% endblock %}
