{% extends "2020/templates/puzzle.html.jinja" %}

{% block number %}8{% endblock %}
{% block name %}Fonetická{% endblock %}

{% block puzzle %}
  <p style="transform: scaleX(-1)">Hush-tee-YEPP-uh ha-ing-ICK-hull NAM-uh-vuss NOO-she-yall-err-in hush-tee-EPP-uh-ny NAM-ut-zee OOH, NAAS SE-vaath HOWM-zee a-VAATH snam-ZEE-huh a-NONE-ve-how SIR-sis-na sir-hurr, see-ETS-na HAW-wood-the a-NAAN-the-haw hush-tee-YEPP-uh ha-ing-ICK-hull-zee NAM-uh.</p>
{% endblock %}

{% block key %}935508179{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Text je otočený naopak, tak ho otočte, aby bol dobre. Dúfam, že nemáte problém s angličtinou. Skutočný text tejto šifry sa dá nájsť na internete, takže ak poznáte nejaké jeho časti, skúste ho pohľadať.</p>
{% endblock %}
