{% extends "2021/templates/solution.html.jinja" %}

{% block number %}1{% endblock %}
{% block name %}Jazyk{% endblock %}

{% block solution %}
  <p>Text je napísaný tak, aby sa dal čítať po slovensky aj po česky. Všetky tie divné znaky vyjadrujú nejakú kombináciu českých a slovenských písmen. Vieme, že druhé písmeno hesla je Ē. Zo slov ako “povēš” a “rozdēl” zistíme, že “ē” je v slovenčine “ie” a v češtine “í”. Heslo je nejaké hlavné mesto v Európe. Jediné, ktoré vyhovuje, je VIEDEŇ.</p>
{% endblock %}
