{% extends "templates/base.html.jinja" %}

{% block title %}Čo to je | Šifrovačka Julegåden{% endblock %}
{% block heading %}Čo to je{% endblock %}

{% block content %}
  <p>Julegåden je hra, ktorá spočíva v riešení šifier. Každá šifra má nejaké zadanie, to môže byť napríklad text alebo obrázok, a v tom je nejakým neznámym spôsobom zašifrované heslo. Vašou úlohou prísť na to, ako šifra funguje, a zistiť heslo. Viac si o tom môžete prečítať v sekcii <a href="../ako-riesit">Ako riešiť</a>.</p>

  <p>Šifry sa každý rok zverejnia niekedy na Vianoce, a počas prázdnin ich môžete riešiť. Postupne k nim budú zverejnené najprv nápovedy, ktoré vám poradia, ak neviete, čo so šiframi, a nakoniec aj ich vzorové riešenia.</p>

  <p>Aby ste šifry mohli riešiť, nemusíte sa nikam prihlasovať, všetko máte rovno na tejto stránke. Riešiť môžete aj individuálne, ale veľmi odporúčam riešiť v skupine, či už s rodinou alebo kamarátmi.</p>

  <p>Ak vás takáto hra zaujala, možno vás budú zaujímať aj ďalšie podobné hry, napríklad
    <a href="https://sifrovacka.sk">Brieždenie</a>,
    <a href="https://susi.trojsten.sk">Suši</a>,
    a <a href="https://sifrovacky.cz">ďalšie</a>.
  </p>
{% endblock %}
