{% extends "2021/templates/solution.html.jinja" %}

{% block number %}3{% endblock %}
{% block name %}Vláčik{% endblock %}

{% block solution %}
  <p>Text sa dá rozdeliť na niekoľko indícií, kde každá končí takým písmenom, ako tá ďalšia začína. Tieto spoločné konečné/začiatočné písmená nám dajú odkaz “tajnička je”. Ale čo? Na to musíme na indície odpovedať slovami, aby výsledné slová tvorili podobný vláčik:</p>
  <p>Herme(S)tĺ(P)ono(R)usín(I)nováci(E)uklido(V)edr(O)su(D)rave(C)est(A)stronómia. Heslo je teda SPRIEVODCA.</p>
{% endblock %}
