{% extends "2019/templates/puzzle.html.jinja" %}

{% block number %}3{% endblock %}
{% block name %}Geografická{% endblock %}

{% block puzzle %}
  <p>
    33.7151058°N, 85.2267603°W<br>
    39.9669403°N, 76.7659089°W<br>
    43.0695049°N, 77.8926532°W<br>
    44.9382737°N, 74.5788982°W<br>
    43.0819671°N, 77.9484153°W<br>
    28.1174627°N, 80.7275949°W
  </p>
{% endblock %}

{% block key %}603381465{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Názov Geografická a formát čísel vám napovie, že sú to zemepisné súradnice. Môžete ich teda skopírovať do Google Maps, ktoré vám miesto nájdu na mape. Okrem toho, že sú všetky v Spojených štátoch, majú ešte jednu dôležitú spoločnú vlastnosť. Ak ju nevidíte, popozerajte sa trochu v okolí miest. Keď túto vlastnosť odhalíte, heslo už získate pomerne jednoducho, stačí sa trochu pohrať s písmenami v tom, čo vám vyšlo.\n\nSkúste hľadať v čo najbližšom okolí miest, v trochu širšom okolí sa totiž niekedy dajú nájsť podobné veci. Pri prvom mieste to môže byť trochu ťažké, takže sa pozrite dôkladnejšie v tesnom okolí, alebo si písmeno domyslite, ak viete.</p>
{% endblock %}
