{% extends "2019/templates/puzzle.html.jinja" %}

{% block number %}9{% endblock %}
{% block name %}Stromová{% endblock %}

{% block puzzle %}
  <p class="highlight">Riešenie je slovné spojenie.</p>
  <figure>
    <img src="index.svg" width="720" height="250">
  </figure>
{% endblock %}

{% block key %}32622862{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Čo vám pripomínajú písmená v zadaní? Pochádzajú z nejakého (pomerne) všeobecne známeho obrázka, ktorý pri riešení použijete (tento obrázok má jednu konkrétnu podobu, potrebujete jeho najviac štandardnú formu). Názov odkazuje na morseovkový strom, ktorý pôvodne riešitelia dostávali ako pomôcku. Ak ho nepoznáte, vygooglite si.</p>
  <p>Na to, aby ste získali heslo, treba previesť písmená z obrázku (tie v zadaní) na písmená v strome. To spravíte tak, že ku každému miestu (polohe) v strome patrí nejaké miesto v pôvodnom obrázku. Všimnite si, že pôvodný obrázok a (takto upravený) strom majú trochu podobný tvar, až na to, že v obrázku je veľa písmen (a teda miest) navyše. Pozrite sa teda na to, z ktorých miest pôvodného obrázka sú použité písmená. Takouto logikou sa dá z obrázka vybrať niekoľko riadkov, ktoré sa na toto dajú použiť. V takom prípade bude jeden riadok stromu predstavovať presne jeden (alebo dva rovnako dlhé) riadky obrázka, a v obrázku vám zároveň neostanú žiadne použiteľné riadky navyše.</p>
  <p>Posun niektorých písmen v zadaní hore a dole vás nemusí veľmi trápiť, ide len o to, aby sa od seba dali rozlíšiť niektoré podobné písmená z obrázka. Tie hore sú samozrejme aj v obrázku vyššie, a tie dole nižšie.</p>
{% endblock %}
