{% extends "2019/templates/solution.html.jinja" %}

{% block number %}6{% endblock %}
{% block name %}Anglická{% endblock %}

{% block solution %}
  <p>Jeej, klasická doplňovačka s tajničkou a ešte aj obrázkami. Až na to, že tie mená tých obrázkov tam nesedia, ani po slovensky, ani po anglicky, ako nám napovedá názov. Ak si však pomenujeme obrázky po slovensky, dostaneme niečo ako pasta, gate, jar, more, a list. Môžeme si všimnúť, že tieto slová všetky znamenajú niečo aj po anglicky. Preložíme ich teda do slovenčiny a výsledné slová (cestoviny, brána, pohár, viac, a zoznam) doplníme do tabuľky. V okienkach s obrázkami nám vyjde heslo TRÁVA.</p>
{% endblock %}
