{% extends "2019/templates/puzzle.html.jinja" %}

{% block number %}8{% endblock %}
{% block name %}Obrázková{% endblock %}

{% block puzzle %}
  <figure><img src="1.jpg" width="640" height="480"></figure>
  <figure><img src="2.jpg" width="640" height="480"></figure>
  <figure><img src="3.jpg" width="640" height="480"></figure>
  <figure><img src="4.jpg" width="640" height="480"></figure>
  <figure><img src="5.jpg" width="640" height="480"></figure>
  <figure><img src="6.jpg" width="640" height="480"></figure>
  <figure><img src="7.jpg" width="640" height="480"></figure>
  <figure><img src="8.jpg" width="640" height="480"></figure>
  <figure><img src="9.jpg" width="640" height="480"></figure>
{% endblock %}

{% block key %}349383474{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Rovnako ako v minulej šifre s obrázkami, aj tu je kľúčové obrázky správne pomenovať, aby sme z nich dostali písmená. Nemáme už ale doplňovačku, ktorá nám povie, ktoré písmená tvoria odpoveď, takže sa treba pohrať s pomenovaniami, a nájsť nejakú užitočnú spoločnú vlastnosť, pomocou ktorej výsledné písmená budeme vedieť určiť. Pomenovania niektorých obrázkov sú dosť priamočiare (tam si vlastnosť môžete všimnúť), s niektorými je súvislosť ďalekosiahlejšia, ale keď z ľahších obrázkov viete, čo hľadať, je to jednoduchšie.</p>
{% endblock %}
