{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}1{% endblock %}
{% block name %}Jazyk{% endblock %}

{% block styles %}
  <style>
    .small {
      font-size: 0.7em;
      color: var(--color-gray);
    }
  </style>
{% endblock %}

{% block puzzle %}
  <p>Organizátor: Ahoj, ṛêšiteļ<span class="small">i</span>, vítăm ťä na tẽto šifrovačķe. Důfăm, že sä ti to bude ļűbiț.</p>

  <p>Ṛêšiteļ: Právẹ sä dívăm na tù prv<span class="small">n</span>ű šifru. V podstatẹ to chápų, ale potṛebujį vẹdệț heslo. Povēš mi o ňöm nệćo?</p>

  <p>Organizátor: Àno, kļüdnẹ. Heslo je nẹjaké mēsto.</p>

  <p>Ṛêšiteļ: Počkäj, myslíš mēsto či mẹsto?</p>

  <p>Organizátor: Aha, myslel <span class="small">j</span>söm mẹsto. Máš pravdu, to je dōležitý rozdēl.</p>

  <p>Ṛêšiteļ: Dobṛe, a <span class="small">j</span>aké? Je na Slovensku?</p>

  <p>Organizátor: Nê, ale je v Ewròpẹ. Dokoncä je to hlavnẻ mẹsto.</p>

  <p>Ṛêšiteļ: No výbornẹ, a ktöré?</p>

  <p>Organizátor: To už budeš musêț z<span class="small">j</span>istiț sám. Ḷen posledná vẹc. Druhé písmeno hesla je Ē.</p>

  <p>Ṛêšiteļ: V poṛấdku, už to asi mám.</p>

  <p>Organizátor: Správnẹ, tak tḯm <span class="small">j</span>si šifru vyṛêšil!</p>
{% endblock %}

{% block key %}845530979{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
  </div>
{% endblock %}

{% block hint %}
  <p>Českým riešiteľom by bol tento text takisto dokonale zrozumiteľný.</p>
{% endblock %}
