{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}8{% endblock %}
{% block name %}Caesarovka{% endblock %}

{% block puzzle %}
  <audio controls src="caesarovka.mp3"></audio>
{% endblock %}

{% block key %}689071995{% endblock %}
