{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}8{% endblock %}
{% block name %}Caesarovka{% endblock %}

{% block puzzle %}
  <audio controls src="caesarovka.mp3"></audio>
{% endblock %}

{% block key %}689071995{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Hlásky delíme na samohlásky, spoluhlásky a dvojhlásky. V slovách sa musia pekne striedať, aby sme ich dokázali vysloviť.</p>
{% endblock %}
