{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}4{% endblock %}
{% block name %}Slovník{% endblock %}

{% block puzzle %}
  <p>mať, vystaviť, páčiť sa, SKLADAŤ, namietať, odložiť, navrhovať, posunúť</p>
  <p>POUŽITIE, vysvetlenie, dôsledok, ťažkosť, násobenie, rozmnožovanie</p>
  <p>zaujímavosť, odpútanie, vytiahnutie, stiahnutie, odvolanie, ODČÍTANIE</p>
  <p>odstúpenie, vypustenie, VÝBOR, vynechanie, povolenie, podrobenie, prenos</p>
  <p>ODPOR, opak, prevod, rozpor, zvrátenosť, rozvrat</p>
  <p>SMÚTOK, vyjadrenie, dojem, stlačenie, útlak, potláčanie</p>
  <p>uchádzať sa, VYPRŠAŤ, vnuknúť, sprisahať sa, potiť sa, dýchať</p>
  <p>únos, usúdenie, vyvolanie, úvod, vedenie, výroba, POKLES</p>
{% endblock %}

{% block key %}641466291{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Aký je to slovník? No predsa cudzích slov!</p>
{% endblock %}
