{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}10{% endblock %}
{% block name %}Pesničky{% endblock %}

{% block puzzle %}
  <audio controls src="pesnicky.mp3"></audio>
{% endblock %}

{% block key %}430254444{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}

{% block hint %}
  <p>Ak máte pocit, že vám k vyriešeniu tejto šifry niečo chýba, pozrite si aj ostatné šifry, ktoré ste už vyriešili.</p>
{% endblock %}
