{% extends "2021/templates/solution.html.jinja" %}

{% block number %}9{% endblock %}
{% block name %}Kalendár{% endblock %}

{% block solution %}
  <p>V texte sú skryté mená ľudí (ktoré vieme nájsť v kalendári):</p>

  <blockquote>
    <p>V tejto šifre vám porozprávam niečo o tom, aký je môj pohľad na posledný rok. Myslím totiž, že je dobré občas zastaviť alebo aspoň spomaliť a trochu sa zamyslieť nad životom.</p>
    <span></span>

    <p>Ako prvé si pamätám ešte oslavy na <span style="color: var(--color-white); background-color: var(--color-red)">Silvestra</span>. Až v škole to však začalo byť zaujímavé. Máme novú spolužiačku, volá sa Tiffany. Zvláštne meno, ale je veľmi sympatická.</p>

    <p>Raz sme na dejepise hovorili o praveku, no moja pozornosť nevydržala ani <span style="color: var(--color-white); background-color: var(--color-red)">päť a</span> pol minúty. Vtedy mi došlo, ako sa mi Tiffany páči. Už ani časť pozornosti som nevenoval dejepisu.</p>

    <p>Odvtedy som na ňu nedokázal prestať myslieť, ale nenašiel som odvahu prihovoriť sa jej. Strácal som <span style="color: var(--color-white); background-color: var(--color-red)">vieru</span>, že sa niekedy porozprávame. <span style="color: var(--color-white); background-color: var(--color-red)">Ja na</span> to kašlem, hovoril som si. Alebo nie?</p>

    <p>Na UKL sme brali umenie <span style="color: var(--color-white); background-color: var(--color-red)">Dada</span> a maľovali tušom. Ja som <span style="color: var(--color-white); background-color: var(--color-red)">ale na</span> tuš zabudol. Spýtal som sa teda Tiffany, či <span style="color: var(--color-white); background-color: var(--color-red)">má tuš</span>. Mala, požičala mi ho a <span style="color: var(--color-white); background-color: var(--color-red)">milo</span> sa usmiala.</p>

    <p>Od tohto momentu sme sa postupne začali viac rozprávať a tak tomu bolo aj po zvyšok školského roka. To som ešte nič netušil o všetkých tých krásnych veciach, ktoré zažijeme.</p>

    <p>Prišlo leto, alebo dva mesiace prázdnin. Počas školy sme s Tiffany boli spolu skoro každý deň a zrazu sme sa skoro vôbec nestretávali, <span style="color: var(--color-white); background-color: var(--color-red)">o to</span> viac sme si však aspoň písali.</p>

    <p>Prázdniny boli super, ale postupne sa skončili. Potom som musel robiť nejaké papiere do školy a neviem, ako ich mám odovzdať. Ešteže na to je skupina v Messengeri, tam mi poradia.</p>

    <p>Mama mi povedala, že nechápe ľudí ako ja. Bol som vonku a rozbil som si koleno, lebo som spadol zo stromu. Tváril som sa však, že to <span style="color: var(--color-white); background-color: var(--color-red)">samo</span> od seba.</p>

    <p>Od septembra bolo znovu treba chodiť von s Tiffany. Časom ale začalo mrznúť; potom sme mávali nos <span style="color: var(--color-white); background-color: var(--color-red)">a líca</span> ružové od zimy. Nevadí, niekedy to naozaj stálo za to, napríklad toto:</p>

    <p>Raz večer som ju odprevadil domov až do Dúbravky. Keď sme sa lúčili, spýtal som sa: “Zoberieš <span style="color: var(--color-white); background-color: var(--color-red)">si ma</span> za ženu?” Pozrela na mňa: “Zbláznil <span style="color: var(--color-white); background-color: var(--color-red)">si sa</span>?” <span style="color: var(--color-white); background-color: var(--color-red)">To mi</span> nevyšlo.</p>

    <p>Tak sa rok, teda aj náš príbeh, chýli ku koncu. Dúfam, že sa vám tieto uletené historky páčili. Teraz je však načase spýtať sa: viete už, aké má táto šifra riešenie?</p>
  </blockquote>

  <p>Mená sú teda Silvester, Peťa (Petra), Viera, Jana, Dada (Dáša, Drahoslava alebo Dagmar), Alena, Matúš, Milo (Miloš alebo Miloslav), Oto, Samo, Alica, Sima (Simona), Sisa (Silvia), Tomi (Tomáš). Ak je v zátvorke viac možností, sedí ľubovoľná z nich. Tiffany nie je v slovenskom kalendári, preto sa neráta.</p>

  <p>Odsekov je 12, ako mesiacov v roku, a každý odsek má toľko slov, koľko má príslušný mesiac. Na každý dátum v roku teda máme jedno slovo zo zadania. Keď si zoberieme meniny poskrývaných ľudí a nájdeme podľa ich dátumov slová v texte, dostaneme tajničku: “Riešenie, ktoré treba odovzdať, je časť stromu alebo aj skupina ľudí napríklad v praveku.” Heslo je teda KMEŇ.</p>
{% endblock %}
