{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}5{% endblock %}
{% block name %}Fotky{% endblock %}

{% block puzzle %}
  <figure><img src="1.jpg"></figure>
  <figure><img src="2.jpg"></figure>
  <figure><img src="3.jpg"></figure>
  <figure><img src="4.jpg"></figure>
  <figure><img src="5.jpg"></figure>
{% endblock %}

{% block key %}988436863{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
  </div>
{% endblock %}

{% block hint %}
  <p>Otázniky sú tam navyše, ale čo na fotkách chýba?</p>
{% endblock %}
