{% extends "templates/solution.html.jinja" %}

{% block title %}{{ self.number() }}. {{ self.name() }} | Julegåden 2020{% endblock %}

{% block year %}
  <a href="/julegaden/2020"><h2 id="year">2020</h2></a>
{% endblock %}
