{% extends "2019/templates/solution.html.jinja" %}

{% block number %}4{% endblock %}
{% block name %}Písmenková{% endblock %}

{% block solution %}
  <p>Tentokrát máme zadaných iba päť slov. Keďže chceme získať jedno slovo ako heslo, a navyše máme názov Písmenková, pravdepodobne bude z každého slova jedno písmeno. Nech sa ale hocijako snažíme rozumne vybrať nejaké písmená z týchto slov, nevyjde nám nič zmysluplné.</p>
  <p>Treba naopak ku každému slovu priradiť nejaké písmeno, ktoré v ňom ale nemusí byť. Keď si toto uvedomíme, možno nám napadne Denník N, alebo prípadne plán B. Chceme teda všeobecne priradiť také písmeno, aby nám vzniklo nejaké ustálené slovné spojenie. Ľahko si dohľadáme, že je acesulfám K (pri zadaní slova acesulfám do Googlu nám to hneď ponúkne túto možnosť). Otočka je U, čo je asi známejšie ako anglické U-turn. No a s Romeom je to trochu zákerné, ale možno si spomenieme na Alfa Romeo, a alfa je ekvivalent písmena A. Vyjde nám teda heslo BUNKA.</p>
{% endblock %}
