{% extends "templates/base.html.jinja" %}

{% block heading -%}
  <span id="number">{% block number %}{% endblock %}</span>.
  {% block name %}{% endblock %}
{%- endblock %}

{% block content %}
  {% block puzzle %}{% endblock %}
  <form id="submit-box" data-key="{% block key %}{% endblock %}">
    <input type="text" id="submit-input" autocomplete="off"
           placeholder="Sem zadajte riešenie&hellip;">
    <button type="submit"><img class="icon" src="/julegaden/img/arrow-small-right.svg"></button>
  </form><br>
  {% block actions %}{% endblock %}
  <div id="hint" class="hidden">
    {% block hint %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  <script src="/julegaden/js/hint.js"></script>
  <script src="/julegaden/js/submit.js" type="module"></script>
{% endblock %}
