{% extends "2021/templates/solution.html.jinja" %}

{% block number %}7{% endblock %}
{% block name %}Mapa{% endblock %}

{% block solution %}
  <p>Vzdialenosti sú po riekach od mora, heslo je teda MORE.</p>

  <p>Boli vypočítané pomocou <a href="https://play.google.com/store/apps/details?id=com.kritsin.rivertracker3&gl=SK">tejto aplikácie</a>. Ak chcete vidieť ich zoznam, pozrite si <a href="https://github.com/mstepanek0301/julegaden/blob/master/2021/07/index.js">zdrojový kód</a>.</p>

  <p>Je tam chyba, Linz je tam dvakrát, pričom jeden z nich mal byť Regensburg (a mal mať aj inú vzdialenosť, polohú má dobrú). Pri riešení šifry by to snáď nemalo vadiť.</p>
{% endblock %}
