{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}6{% endblock %}
{% block name %}Nešifra{% endblock %}

{% block puzzle %}
  <p>Krajina, v ktorej sa nestrieľa, 3/5</p>

  <p>Kapitán, ktorý nerieši matematickú olympiádu, 4/4</p>

  <p>Americký štát, ktorý nemá chybu, 5/6</p>

  <p>Žena, ktorá nenosí bundu bez rukávov, 1/6</p>

  <p>Zvolanie, ktoré nepoužívala manželka amerického prezidenta Harryho Trumana, 6/6</p>

  <p>Známy Izraelčan, ktorý nevie počítať trigonometrické funkcie ani pomocou internetového vyhľadávača, 6/9</p>

  <p>Krajina, ktorá nepozná hranice, 7/7</p>

  <p>Starogrécka bohyňa, ktorú neuctieval známy futbalista, 3/7</p>
{% endblock %}

{% block key %}597737669{% endblock %}
