{% extends "2021/templates/solution.html.jinja" %}

{% block number %}5{% endblock %}
{% block name %}Fotky{% endblock %}

{% block solution %}
  <p>Z fotiek sú vymazané graffiti. Pôvodné fotky vyzerali takto:</p>
  <figure><img src="1.jpg"></figure>
  <figure><img src="2.jpg"></figure>
  <figure><img src="3.jpg"></figure>
  <figure><img src="4.jpg"></figure>
  <figure><img src="5.jpg"></figure>
  <p>Keď zoberieme písmená, ktoré sú v skutočnosti namiesto otáznikov, dostaneme heslo UHLIE.</p>
{% endblock %}
