{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}9{% endblock %}
{% block name %}Kalendár{% endblock %}

{% block puzzle %}
  <p>V tejto šifre vám porozprávam niečo o tom, aký je môj pohľad na posledný rok. Myslím totiž, že je dobré občas zastaviť alebo aspoň spomaliť a trochu sa zamyslieť nad životom.</p>

  <p>Ako prvé si pamätám ešte oslavy na Silvestra. Až v škole to však začalo byť zaujímavé. Máme novú spolužiačku, volá sa Tiffany. Zvláštne meno, ale je veľmi sympatická.</p>

  <p>Raz sme na dejepise hovorili o praveku, no moja pozornosť nevydržala ani päť a pol minúty. Vtedy mi došlo, ako sa mi Tiffany páči. Už ani časť pozornosti som nevenoval dejepisu.</p>

  <p>Odvtedy som na ňu nedokázal prestať myslieť, ale nenašiel som odvahu prihovoriť sa jej. Strácal som vieru, že sa niekedy porozprávame. Ja na to kašlem, hovoril som si. Alebo nie?</p>

  <p>Na UKL sme brali umenie Dada a maľovali tušom. Ja som ale na tuš zabudol. Spýtal som sa teda Tiffany, či má tuš. Mala, požičala mi ho a milo sa usmiala.</p>

  <p>Od tohto momentu sme sa postupne začali viac rozprávať a tak tomu bolo aj po zvyšok školského roka. To som ešte nič netušil o všetkých tých krásnych veciach, ktoré zažijeme.</p>

  <p>Prišlo leto, alebo dva mesiace prázdnin. Počas školy sme s Tiffany boli spolu skoro každý deň a zrazu sme sa skoro vôbec nestretávali, o to viac sme si však aspoň písali.</p>

  <p>Prázdniny boli super, ale postupne sa skončili. Potom som musel robiť nejaké papiere do školy a neviem, ako ich mám odovzdať. Ešteže na to je skupina v Messengeri, tam mi poradia.</p>

  <p>Mama mi povedala, že nechápe ľudí ako ja. Bol som vonku a rozbil som si koleno, lebo som spadol zo stromu. Tváril som sa však, že to samo od seba.</p>

  <p>Od septembra bolo znovu treba chodiť von s Tiffany. Časom ale začalo mrznúť; potom sme mávali nos a líca ružové od zimy. Nevadí, niekedy to naozaj stálo za to, napríklad toto:</p>

  <p>Raz večer som ju odprevadil domov až do Dúbravky. Keď sme sa lúčili, spýtal som sa: “Zoberieš si ma za ženu?” Pozrela na mňa: “Zbláznil si sa?” To mi nevyšlo.</p>

  <p>Tak sa rok, teda aj náš príbeh, chýli ku koncu. Dúfam, že sa vám tieto uletené historky páčili. Teraz je však načase spýtať sa: viete už, aké má táto šifra riešenie?</p>
{% endblock %}

{% block key %}886969913{% endblock %}
