{% extends "2021/templates/puzzle.html.jinja" %}

{% block number %}3{% endblock %}
{% block name %}Vláčik{% endblock %}

{% block puzzle %}
  <p>v starogréckej mytológii to bol boh viacerých rôznych vecí, medziiným obchodu a ciestento objekt je jedným z dôvodov, prečo je nebezpečné sa vo vlaku vykláňať z oknaby loď vedela plávať na hladine, časť musí mať pod hladinou, veľkosť tejto časti pomenujedna z najpočetnejších tunajších slovanských národnostných menšínové nápady a vylepšenia, toto ich pomenovanie sa používa najmä pri technológiimplementáciou tohto algoritmu počíta najväčšie spoločné delitele počítačeština toto slovo používa na označenie horúceho počasia, zatiaľčo v slovenčine znamená kýblikeď poznáme kauzálnu súvislosť nejakých udalostí, zaobídeme sa pri ich vysvetľovaní aj bez tohto slovak na zviera tohto typu natrafíš v prírode, radšej od neho rýchlo utekaje to pre autá to, čo sú pre vlaky koľajnicešte nevieme o vesmíre všetko, ale vďaka tejto vede sa dozvedáme stále viac</p>
{% endblock %}

{% block key %}642065100{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button id="hint-button" class="pill">Nápoveda</button>
  </div>
{% endblock %}

{% block hint %}
  <p>Odpovedzte na jednotlivé indície tak, aby sa vláčik zachoval.</p>
{% endblock %}
