{% extends "2019/templates/puzzle.html.jinja" %}

{% block number %}4{% endblock %}
{% block name %}Písmenková{% endblock %}

{% block puzzle %}
  <p>plán, otočka, denník, acesulfám, zóna</p>
{% endblock %}

{% block key %}192606200{% endblock %}

{% block actions %}
  <div class="pill-list">
    <button class="pill" onclick="window.alert(
      'Je toho zadaného veľmi málo, len 5 slov! To znamená, že z každého slova pravdepodobne dostaneme len jedno písmeno, a tie nám vytvoria heslo. Okrem toho to musí byť niečo jednoduché. Nesnažte sa ale vyberať písmená priamo zo slov. Skúste k slovám nezávisle priradiť nejaké písmená.'
    )">Nápoveda</button>
    <a class="pill" href="riesenie">Riešenie</a>
  </div>
{% endblock %}
